* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
    background-image: url("logomtst.png");
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

